## Imports

In [1]:
import pandas as pd
import numpy as np

In [9]:
pd.set_option('display.max_columns',None)

## Data read-in

**Data downloaded from assessor's website on Friday, September 1st, 2023.**<br>
Link: https://datacatalog.cookcountyil.gov/Property-Taxation/Board-of-Review-Appeal-Decision-History/7pny-nedm

**Original Assessor 'hit list' data**<br>
https://docs.google.com/spreadsheets/d/1Cy5PLrM6OLXMnkqjTyGLrC3vhU7YPvWF41tEku5BLMg/edit#gid=0

In [22]:
appeal_decisions = pd.read_csv('Board_of_Review_Appeal_Decision_History.csv', dtype='str')

In [23]:
original_data = pd.read_csv('assessor_hit_list - Sheet1.csv',names=['Column_1','Column_2',
                                                                    'Column_3','Column_4',
                                                                    'Column_5','Column_6',
                                                                    'Column_7','Column_8'],
                                                                    dtype='str')

In [25]:
appeal_decisions.head(1)

,pin,township_code,tax_year,AppealTrk,AppealSeq,TaxCode,Vol,Class,AppealType,AppealTypeDescription,Assessor_LandValue,Assessor_ImprovementValue,Assessor_TotalValue,BOR_LandValue,BOR_ImprovementValue,BOR_TotalValue,Result,ChangeReason,ChangeReasonDescription,NoChangeReason,NoChangeReasonDescription,MajorClass,Appellant,Appellant_Address,Appellant_City,Appellant_State,Appellant_Zip,AttorneyCode,Attorney ID,Attorney_FirstName,Attorney_LastName,Attorney_FirmName,AppealID,PIN10,long,lat,xcoord_crs_3435,ycoord_crs_3435,PIN_dash,centroid_geom,rowid
0,06261180091075,18,2022,1813308,74,18104,61,29900,P,Overvaluation,2691,20295,22986,2691,19631,22322,Decrease,5,Condominium/cooperative analysis which conside...,0,NaN,Residential,OAKS AT HIDDEN GLEN CO,1-112 SAMUEL / 101-157,STREAMWOOD,IL,60107,Attorney,307,EDWIN M,WITTENSTEIN,WORSEK & VIHON LLP,1813308.074,0626118009,-88.182158785593899,42.010403444494465,1025336.095472745597363,1946414.4539834856987,06261180091075,POINT (-88.1821587855939 42.010403444494465),2022-06261180091075-1813308-74

In [28]:
print(len(appeal_decisions['pin'].iloc[0]))
print('-------')
print(len(original_data['Column_1'].iloc[0]))

14
-------
14

In [24]:
original_data.head(1)

,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8
0,17162050160000,73994803,153660763,-79665960,-1.076642639,5-91,South Chicago,10 S DEARBORN ST

## Data work

In [29]:
appeal_decisions['tax_year'].value_counts()

tax_year
2018    532205
2021    518845
2022    469007
2015    466901
2019    462316
2016    416708
2012    414963
2013    391384
2020    384626
2010    375724
2017    356733
2011    330647
2014    312090
Name: count, dtype: int64

In [30]:
merged_df = pd.merge(appeal_decisions, original_data, left_on='pin', right_on='Column_1')

In [32]:
merged_df['tax_year'].value_counts()

tax_year
2021    559
2022    551
2018    509
2020    485
2019    462
2015    413
2016    385
2017    380
2012    342
2011    326
2010    304
2013    298
2014    288
Name: count, dtype: int64

In [35]:
filtered_df = merged_df[merged_df['tax_year'] == '2022']

In [37]:
filtered_df.to_csv('updated_assessor_data.csv')