In [1]:
import pandas as pd
from pandas_geojson import to_geojson, write_geojson

In [14]:
# df = pd.read_json('Chicago_story_map_data.json')
# df = df.loc[df['PUB_YEAR'] > 2016]
# df = df.loc[df['PUB_YEAR'] < 2023]

In [18]:
df = pd.read_json('Chicago.geojson',orient='type')
df

                   type                                           features
0     FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Rea...
1     FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'An ...
2     FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Fla...
3     FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Dru...
4     FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'McD...
...                 ...                                                ...
3986  FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Gle...
3987  FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Joi...
3988  FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Vis...
3989  FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Wil...
3990  FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Wil...

[3991 rows x 2 columns]

In [29]:
Chi = open('Chicago.geojson')

In [27]:
Chi

In [23]:
df2 = pd.json_normalize(df, record_path='properties')
df2

TypeError: string indices must be integers

In [14]:
df

                   type                                           features
0     FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Rea...
1     FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'An ...
2     FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Fla...
3     FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Dru...
4     FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'McD...
...                 ...                                                ...
3986  FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Gle...
3987  FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Joi...
3988  FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Vis...
3989  FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Wil...
3990  FeatureCollection  {'type': 'Feature', 'properties': {'HED': 'Wil...

[3991 rows x 2 columns]

In [9]:
df.columns

Index(['type', 'features'], dtype='object')

In [16]:
geo_json = to_geojson(df=df, lat='lat', lon='lon',
                     properties=['HED','DEK','description_link','PUB_YEAR','geo_address'])
write_geojson(geo_json, filename='Chicago.geojson', indent=4)