# Goal:

For the sales, I'd like to denote whether it was sold at a loss or a gain with a red or green icon. The rest of the info could be put into a pop up box, if that works

oh and btw maybe put listings in blue or something so we can see that they are not sold yet

# Imports

In [15]:
import pandas as pd
import geopandas as gpd
import googlemaps
from shapely.geometry import Point
import os
import numpy as np
import re
from textwrap import shorten
from bs4 import BeautifulSoup
import gspread

## Data read-in

In [16]:
df = pd.read_csv('Prager map details - final.csv')

In [17]:
# # Drop the 'URL' column if you no longer need it
# df = df.drop(columns=['URL'])

In [18]:
# df['Description'].iloc[0]

## Geocode

In [19]:
df.columns

Index(['#', 'Street', 'City', 'County', 'State', 'Lawsuit/foreclosure',
       'Landlord Lender', 'A-1', 'A-2', 'B', 'Landlord Loan', 'GL Lender',
       'A-1.1', 'A-2.1', 'B.1', 'GL Lender 2', 'Unnamed: 16',
       'Ground Lease Loan', 'Complex name'],
      dtype='object')

In [20]:
df['Full_Address'] = df['#'] + ' ' + df['Street'] + ' ' + df['City'] + ' ' + df['County'] + ' ' + df['State']

In [21]:
df['Display_Address'] = df['#'] + ' ' + df['Street'] + ' ' + df['City'] + ', ' + df['State']

In [22]:
%store -r google_maps_API_Key
gmaps_key = googlemaps.Client(key=google_maps_API_Key)

In [23]:
# Define the geocode function
def geocode(add):
    g = gmaps_key.geocode(add)
    if g:
        lat = g[0]["geometry"]["location"]["lat"]
        lng = g[0]["geometry"]["location"]["lng"]
        return (lat, lng)
    else:
        return None

# Apply geocoding to the 'Full_Address' column and store the results in the 'geocoded' column
df['geocoded'] = df['Full_Address'].apply(geocode)

# Split 'geocoded' into 'lat' and 'lon', handling None values
df[['lat', 'lon']] = df['geocoded'].apply(lambda x: (None, None) if x is None else x).apply(pd.Series)

# Convert 'lat' and 'lon' to floats
df['lat'] = df['lat'].astype(float)
df['lon'] = df['lon'].astype(float)

# Create the 'geometry' column with Point objects
df['geometry'] = df.apply(lambda row: Point(row['lon'], row['lat']) if pd.notnull(row['lat']) and pd.notnull(row['lon']) else None, axis=1)

# Drop rows where geometry is None
df = df.dropna(subset=['geometry'])

# Create a GeoDataFrame
gdf = gpd.GeoDataFrame(df, geometry='geometry')

# Set CRS (Coordinate Reference System) to WGS 84 (EPSG:4326)
gdf.set_crs(epsg=4326, inplace=True)

/Users/afarence/opt/anaconda3/lib/python3.9/site-packages/pandas/core/dtypes/cast.py:131: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

,#,Street,City,County,State,Lawsuit/foreclosure,Landlord Lender,A-1,A-2,B,...,GL Lender 2,Unnamed: 16,Ground Lease Loan,Complex name,Full_Address,Display_Address,geocoded,lat,lon,geometry
0,333,City Blvd W,Orange County,Orange,CA,NaN,Technology FCU,75.750,NaN,NaN,...,NaN,NaN,0.000,NaN,333 City Blvd W Orange County Orange CA,"333 City Blvd W Orange County, CA","(33.7870982, -117.8936947)",33.787098,-117.893695,POINT (-117.89369 33.78710)
1,"300, 400, 801, 901",Int'l Pwy (+ 1001 Heathrow Park Lane),Lake Mary,Seminole,FL,Y,UMB,70.000,NaN,18.000,...,NaN,NaN,79.700,NaN,"300, 400, 801, 901 Int'l Pwy (+ 1001 Heathrow ...","300, 400, 801, 901 Int'l Pwy (+ 1001 Heathrow ...","(28.7801958, -81.356084)",28.780196,-81.356084,POINT (-81.35608 28.78020)
2,1500 & 1600,Riveredge Pwy,Atlanta,Fulton,GA,NaN,UMB,38.000,NaN,8.500,...,NaN,NaN,43.000,NaN,1500 & 1600 Riveredge Pwy Atlanta Fulton GA,"1500 & 1600 Riveredge Pwy Atlanta, GA","(33.9081754, -84.4362621)",33.908175,-84.436262,POINT (-84.43626 33.90818)
3,263,Shuman Blvd,Naperville,DuPage,IL,NaN,UMB,27.000,NaN,8.500,...,NaN,NaN,45.430,NaN,263 Shuman Blvd Naperville DuPage IL,"263 Shuman Blvd Naperville, IL","(41.8043611, -88.1514825)",41.804361,-88.151483,POINT (-88.15148 41.80436)
4,500-540,Lake Cook Road,Deerfield,Lake,IL,Y,UMB,72.000,NaN,19.000,...,NaN,NaN,104.000,NaN,500-540 Lake Cook Road Deerfield Lake IL,"500-540 Lake Cook Road Deerfield, IL","(42.1537689, -87.8406607)",42.153769,-87.840661,POINT (-87.84066 42.15377)
5,3025,Highland,Downers Grove,DuPage,IL,NaN,UMB,23.000,NaN,5.000,...,NaN,NaN,32.250,NaN,3025 Highland Downers Grove DuPage IL,"3025 Highland Downers Grove, IL","(41.8330351, -88.0056721)",41.833035,-88.005672,POINT (-88.00567 41.83304)
6,35,W Wacker Dr,Chicago,Cooks,IL,NaN,UMB,171.500,NaN,45.500,...,NaN,NaN,220.000,NaN,35 W Wacker Dr Chicago Cooks IL,"35 W Wacker Dr Chicago, IL","(41.8857787, -87.6294925)",41.885779,-87.629492,POINT (-87.62949 41.88578)
7,5600,83rd St W,Bloomington,Hennepin,MN,NaN,UMB,20.064,7.315,5.326,...,NaN,NaN,32.400,Normandale Office Park,5600 83rd St W Bloomington Hennepin MN,"5600 83rd St W Bloomington, MN","(44.8545062, -93.35533819999999)",44.854506,-93.355338,POINT (-93.35534 44.85451)
8,8000,Norman Center Dr,Bloomington,Hennepin,MN,Y,UMB,21.247,7.746,5.640,...,NaN,NaN,41.340,Normandale Office Park,8000 Norman Center Dr Bloomington Hennepin MN,"8000 Norman Center Dr Bloomington, MN","(44.8522914, -93.3510984)",44.852291,-93.351098,POINT (-93.35110 44.85229)
9,8300,Norman Center Dr,Bloomington,Hennepin,MN,NaN,UMB,18.037,6.576,4.788,...,NaN,NaN,36.758,Normandale Office Park,8300 Norman Center Dr Bloomington Hennepin MN,"8300 Norman Center Dr Bloomington, MN","(44.8526766, -93.35298209999999)",44.852677,-93.352982,POINT (-93.35298 44.85268)
10,8400,Normandale Lake Blvd,Bloomington,Hennepin,MN,NaN,UMB,22.122,8.065,5.873,...,NaN,NaN,42.500,Normandale Office Park,8400 Normandale Lake Blvd Bloomington Hennepin MN,"8400 Normandale Lake Blvd Bloomington, MN","(44.8531904, -93.35566829999999)",44.853190,-93.355668,POINT (-93.35567 44.85319)
11,8500,Normandale Lake Blvd,Bloomington,Hennepin,MN,Y,UMB,31.527,11.495,10.316,...,NaN,NaN,65.000,Normandale Office Park,8500 Normandale Lake Blvd Bloomington Hennepin MN,"8500 Normandale Lake Blvd Bloomington, MN","(44.8543842, -93.3569974)",44.854384,-93.356997,POINT (-93.35700 44.85438)
12,200,S College St,Charlotte,Mecklenburg,NC,NaN,UMB,50.000,NaN,15.262,...,NaN,NaN,60.000,NaN,200 S College St Charlotte Mecklenburg NC,"200 S College St Charlotte, NC","(35.22561, -80.8434381)",35.225610,-80.843438,POINT (-80.84344 35.22561)
13,801,Cherry St,Fort Worth,Tarrant,TX,Y,UMB,68.000,NaN,18.000,...,NaN,NaN,82.858,NaN,801 Cherry St Fort Worth Tarrant TX,"801 Cherry St Fort Worth, TX","(32.7503245, -97.33453929999999)",32.750324,-97.334539,POINT (-97.33454 32.75032)
14,"600, 616, 624",Six Flags Dr (+ 2401 ERM),Arlington,Tarrant,TX,Y,UMB,28.000,NaN,6.500,...,NaN,NaN,40.000,NaN,"600, 616, 624 Six Flags Dr (+ 2401 ERM) Arling...","600, 616, 624 Six Flags Dr (+ 2401 ERM) Arling...","(32.7516317, -97.067523)",32.751632,-97.067523,POINT (-97.06752 32.75163)
15,20001,Euclid Ave,Euclid,Cuyahoga,OH,Y,Wells Fargo,24.000,NaN,NaN,...,NaN,NaN,0.000,NaN,20001 Euclid Ave Euclid Cuyahoga OH,"20001 Euclid Ave Euclid, OH","(41.5656431, -81.5425015)",41.565643,-81.542502,POINT (-81.54250 41.56564)
16,300,E John Carpenter Fwy,Irving,Dallas,TX,NaN,UMB,37.000,NaN,11.500,...,NaN,NaN,55.000,NaN,300 E John Carpenter Fwy Irving Dallas TX,"300 E John Carpenter Fwy Irving, TX","(32.8626749, -96.93971069999999)",32.862675,-96.939711,POINT (-96.93971 32.86267)
17,99,Wood Ave,Iselin,Middlesex,NJ,NaN,UMB,27.850,NaN,5.327,...,American FCU,39.0,63.675,99 & 101 Wood Ave,99 Wood Ave Iselin Middlesex NJ,"99 Wood Ave Iselin, NJ","(40.5647092, -74.32952929999999)",40.564709,-74.329529,POINT (-74.32953 40.56471)
18,101,Wood Ave,Iselin,Middlesex,NJ,NaN,UMB,33.243,NaN,6.359,...,NaN,NaN,31.000,99 & 101 Wood Ave,101 Wood Ave Iselin Middlesex NJ,"101 Wood Ave Iselin, NJ","(40.5629967, -74.328282)",40.562997,-74.328282,POINT (-74.32828 40.56300)
19,186,Wood Ave,Iselin,Middlesex,NJ,NaN,UMB,9.400,NaN,2.100,...,NaN,NaN,14.745,centerline@metropark,186 Wood Ave Iselin Middlesex NJ,"186 Wood Ave Iselin, NJ","(40.5723695, -74.3357084)",40.572370,-74.335708,POINT (-74.33571 40.57237)
20,194,Wood Ave,Iselin,Middlesex,NJ,Y,Wells Fargo,66.000,NaN,NaN,...,NaN,NaN,65.000,centerline@metropark,194 Wood Ave Iselin Middlesex NJ,"194 Wood Ave Iselin, NJ","(40.5723695, -74.3357082)",40.572370,-74.335708,POINT (-74.33571 40.57237)
21,"1100, 1150, 1200",American Blvd,Hopewell,Mercer,NJ,NaN,TD BANK,60.000,NaN,NaN,...,NaN,NaN,44.300,NaN,"1100, 1150, 1200 American Blvd Hopewell Mercer NJ","1100, 1150, 1200 American Blvd Hopewell, NJ","(40.3029512, -74.8059905)",40.302951,-74.805990,POINT (-74.80599 40.30295)
22,1100,Virginia Dr,Fort Washington,Montgomery,PA,Y,UMB,11.181,NaN,NaN,...,NaN,NaN,59.600,NaN,1100 Virginia Dr Fort Washington Montgomery PA,"1100 Virginia Dr Fort Washington, PA","(40.1396788, -75.17897959999999)",40.139679,-75.178980,POINT (-75.17898 40.13968)
23,275,Commerce Dr,Fort Washington,Montgomery,PA,NaN,Starwood Mortgage Capital,6.000,NaN,NaN,...,NaN,NaN,0.000,NaN,275 Commerce Dr Fort Washington Montgomery PA,"275 Commerce Dr Fort Washington, PA","(40.1362763, -75.2005284)",40.136276,-75.200528,POINT (-75.20053 40.13628)
24,333,Thornall St,Edison,Middlesex,NJ,NaN,UMB,25.125,NaN,NaN,...,NaN,NaN,65.000,MetroPark Office Hub,333 Thornall St Edison Middlesex NJ,"333 Thornall St Edison, NJ","(40.5605178, -74.3342728)",40.560518,-74.334273,POINT (-74.33427 40.56052)
25,343,Thornall St,Edison,Middlesex,NJ,NaN,UMB,28.780,NaN,NaN,...,NaN,NaN,0.000,MetroPark Office Hub,343 Thornall St Edison Middlesex NJ,"343 Thornall St Edison, NJ","(40.560655, -74.3357441)",40.560655,-74.335744,POINT (-74.33574 40.56065)
26,100,Campus Dr,Florham Park,Morris,NJ,NaN,Wells Fargo,34.419,NaN,NaN,...,NaN,NaN,56.500,Park Avenue at Morris County,100 Campus Dr Florham Park Morris NJ,"100 Campus Dr Florham Park, NJ","(40.78369, -74.42824999999999)",40.783690,-74.428250,POINT (-74.42825 40.78369)
27,200,Campus Dr,Florham Park,Morris,NJ,NaN,Wells Fargo,18.319,NaN,NaN,...,NaN,NaN,30.000,Park Avenue at Morris County,200 Campus Dr Florham Park Morris NJ,"200 Campus Dr Florham Park, NJ","(40.7850696, -74.4294691)",40.785070,-74.429469,POINT (-74.42947 40.78507)
28,300-600,Campus Dr,Florham Park,Morris,NJ,Y,Wells Fargo,54.261,NaN,NaN,...,NaN,NaN,91.000,Park Avenue at Morris County,300-600 Campus Dr Florham Park Morris NJ,"300-600 Campus Dr Florham Park, NJ","(40.7844006, -74.424808)",40.784401,-74.424808,POINT (-74.42481 40.78440)
29,11,Canal Center Plaza,Alexandria,Alexandria City,VA,NaN,UMB,12.350,NaN,2.900,...,NaN,NaN,38.000,Canal Center,11 Canal Center Plaza Alexandria Alexandria Ci...,"11 Canal Center Plaza Alexandria, VA","(38.8148442, -77.037826)",38.814844,-77.037826,POINT (-77.03783 38.81484)
30,44,Canal Center Plaza,Alexandria,Alexandria City,VA,NaN,UMB,27.041,NaN,6.420,...,NaN,NaN,42.037,Canal Center,44 Canal Center Plaza Alexandria Alexandria Ci...,"44 Canal Center Plaza Alexandria, VA","(38.8142189, -77.03871989999999)",38.814219,-77.038720,POINT (-77.03872 38.81422)
31,66,Canal Center Plaza,Alexandria,Alexandria City,VA,NaN,UMB,20.740,NaN,4.900,...,NaN,NaN,32.250,Canal Center,66 Canal Center Plaza Alexandria Alexandria Ci...,"66 Canal Center Plaza Alexandria, VA","(38.81369979999999, -77.03908539999999)",38.813700,-77.039085,POINT (-77.03909 38.81370)
32,99,Canal Center Plaza,Alexandria,Alexandria City,VA,NaN,UMB,19.864,NaN,4.717,...,NaN,NaN,0.000,Canal Center,99 Canal Center Plaza Alexandria Alexandria Ci...,"99 Canal Center Plaza Alexandria, VA","(38.81516209999999, -77.0385854)",38.815162,-77.038585,POINT (-77.03859 38.81516)

In [24]:
# Convert all data to strings if possible, or remove complex structures
for col in gdf.columns:
    if gdf[col].dtype == object:
        try:
            gdf[col] = gdf[col].astype(str)
        except Exception as e:
            print(f"Could not convert column {col}: {e}")
            gdf.drop(columns=[col], inplace=True)

In [25]:
gdf.to_file('data.geojson', driver='GeoJSON')

In [26]:
base_name = 'https://trd-digital.github.io/trd-news-interactive-maps/'

cwd = os.getcwd()

cwd = cwd.split('/')

final_name = base_name + cwd[-1]
print(final_name)

https://trd-digital.github.io/trd-news-interactive-maps/Prager_Map_10_30_24

In [27]:
df.columns

Index(['#', 'Street', 'City', 'County', 'State', 'Lawsuit/foreclosure',
       'Landlord Lender', 'A-1', 'A-2', 'B', 'Landlord Loan', 'GL Lender',
       'A-1.1', 'A-2.1', 'B.1', 'GL Lender 2', 'Unnamed: 16',
       'Ground Lease Loan', 'Complex name', 'Full_Address', 'Display_Address',
       'geocoded', 'lat', 'lon', 'geometry'],
      dtype='object')

<a href="https://therealdeal.com/chicago/2024/04/03/david-gassman-sells-chicago-apartment-portfolio-for-72m/"> 6954 North Sheridan Road, Chicago</a>

In [28]:
gdf.columns

Index(['#', 'Street', 'City', 'County', 'State', 'Lawsuit/foreclosure',
       'Landlord Lender', 'A-1', 'A-2', 'B', 'Landlord Loan', 'GL Lender',
       'A-1.1', 'A-2.1', 'B.1', 'GL Lender 2', 'Unnamed: 16',
       'Ground Lease Loan', 'Complex name', 'Full_Address', 'Display_Address',
       'geocoded', 'lat', 'lon', 'geometry'],
      dtype='object')