## Imports

In [1]:
import pandas as pd
import numpy as np
import datetime
import calendar

## PD Set options

In [2]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 500)

## Data Analysis

In [3]:
df = pd.read_csv('chicago_broker_rankings_august_2020_with_geo_points.csv',dtype='str')

In [4]:
df.dtypes

Unnamed: 0            object
MLS#                  object
Unique                object
Final Agent/Team      object
agent_type            object
TRD Notes             object
PROPERTY TYPE         object
ADDRESS               object
CITY                  object
STATE OR PROVINCE     object
ZIP OR POSTAL CODE    object
SOLD DATE             object
PRICE                 object
URL                   object
full_address          object
geo_address           object
loc                   object
point                 object
lat                   object
lon                   object
altitude              object
dtype: object

In [5]:
df['year'] = pd.DatetimeIndex(df['SOLD DATE']).year
df['month'] = pd.DatetimeIndex(df['SOLD DATE']).month

In [6]:
y = df.year.groupby(df['month']).count().sort_values(ascending=False)
y = y.to_frame()
y = y.reset_index()
y = y.rename(columns={'year':'Number of Sales'})
y.month = y.month.astype(int)
y

    month  Number of Sales
0       6              585
1       5              504
2       4              496
3       7              471
4       3              408
5       8              339
6       9              294
7      12              286
8      11              284
9      10              283
10      2              268
11      1              230

In [7]:
y['month'] = y['month'].apply(lambda x: calendar.month_name[x])

In [8]:
y.to_csv('chicago_sales_by_month.csv')

In [9]:
x = df['ZIP OR POSTAL CODE'].value_counts().to_frame()
x = x.reset_index()
x = x.rename(columns={'index':'Zip','ZIP OR POSTAL CODE':'Number of Sales'})
x.Zip = x.Zip.replace('\.0','',regex=True)
x.to_csv('chicago_sales_by_zip.csv')

In [10]:
df2 = pd.read_csv('busiest_brokers_by_zip_code_chicago.csv')

In [12]:
df2['ZIP OR POSTAL CODE.1'].value_counts()

60601.0    3
60626.0    3
60602.0    3
60630.0    3
60634.0    3
60637.0    3
60639.0    3
60640.0    3
60641.0    3
60642.0    3
60643.0    3
60645.0    3
60646.0    3
60647.0    3
60649.0    3
60651.0    3
60653.0    3
60654.0    3
60656.0    3
60657.0    3
60659.0    3
60660.0    3
60661.0    3
60628.0    3
60707.0    3
60625.0    3
60616.0    3
60605.0    3
60606.0    3
60607.0    3
60608.0    3
60609.0    3
60610.0    3
60611.0    3
60612.0    3
60613.0    3
60614.0    3
60615.0    3
60617.0    3
60618.0    3
60620.0    3
60622.0    3
60624.0    2
60619.0    2
60638.0    2
60621.0    2
60632.0    2
60623.0    2
60603.0    2
60652.0    1
60636.0    1
60631.0    1
60629.0    1
Name: ZIP OR POSTAL CODE.1, dtype: int64

In [13]:
df2

,ZIP OR POSTAL CODE,ZIP OR POSTAL CODE.1,Final Agent/Team,Final Agent/Team.1
0,60601.0,60601.0,Leila Zammatta,20
1,60601.0,60601.0,The Laricy Team,4
2,60601.0,60601.0,Grigory Pekarsky,3
3,60602.0,60602.0,Grigory Pekarsky,3
4,60602.0,60602.0,Bari & Elena Team,1
5,60602.0,60602.0,Kate Waddell Group,1
6,60603.0,60603.0,The Laricy Team,1
7,60603.0,60603.0,Weinberg Choi Residential,1
8,60605.0,60605.0,The Laricy Team,13
9,60605.0,60605.0,NL Ferrata Team,9
10,60605.0,60605.0,Grigory Pekarsky,6
11,60606.0,60606.0,Leigh Marcus Properties,2
12,60606.0,60606.0,The Laricy Team,2
13,60606.0,60606.0,Alexandre Stoykov,1
14,60607.0,60607.0,The Laricy Team,11
15,60607.0,60607.0,Daniel Close,5
16,60607.0,60607.0,MVP Team,4
17,60608.0,60608.0,Lawrence Dunning,12
18,60608.0,60608.0,Busby Group,2
19,60608.0,60608.0,Klopas Stratton Team,2
20,60609.0,60609.0,Kasper Group,2
21,60609.0,60609.0,Bari & Elena Team,1
22,60609.0,60609.0,Lawrence Dunning,1
23,60610.0,60610.0,Lowe Group Chicago,21
24,60610.0,60610.0,The Laricy Team,13
25,60610.0,60610.0,Alexandre Stoykov,9
26,60611.0,60611.0,The Laricy Team,23
27,60611.0,60611.0,Chezi Rafaeli,16
28,60611.0,60611.0,Jeanne Martini,13
29,60612.0,60612.0,Biazar Group,14
30,60612.0,60612.0,Ben Lalez Team,3
31,60612.0,60612.0,Lawrence Dunning,3
32,60613.0,60613.0,Lowe Group Chicago,9
33,60613.0,60613.0,Bari & Elena Team,6
34,60613.0,60613.0,Busby Group,6
35,60614.0,60614.0,Lowe Group Chicago,42
36,60614.0,60614.0,ESW Chicago,31
37,60614.0,60614.0,The Laricy Team,29
38,60615.0,60615.0,Biazar Group,10
39,60615.0,60615.0,Lawrence Dunning,6
40,60615.0,60615.0,Kasper Group,2
41,60616.0,60616.0,NL Ferrata Team,15
42,60616.0,60616.0,The Laricy Team,5
43,60616.0,60616.0,MG Group Chicago,3
44,60617.0,60617.0,Biazar Group,2
45,60617.0,60617.0,Qamar Group,1
46,60617.0,60617.0,Relux International,1
47,60618.0,60618.0,Leigh Marcus Properties,21
48,60618.0,60618.0,Ryan McKane,8
49,60618.0,60618.0,Stacey Dombar,8
50,60619.0,60619.0,Jason OBeirne,2
51,60619.0,60619.0,Grigory Pekarsky,1
52,60620.0,60620.0,Relux International,2
53,60620.0,60620.0,Ben Lalez Team,1
54,60620.0,60620.0,Biazar Group,1
55,60621.0,60621.0,Chicago Home Partners,1
56,60621.0,60621.0,Jason OBeirne,1
57,60622.0,60622.0,Leigh Marcus Properties,12
58,60622.0,60622.0,Biazar Group,11
59,60622.0,60622.0,The Laricy Team,10
60,60623.0,60623.0,Lawrence Dunning,1
61,60623.0,60623.0,Qamar Group,1
62,60624.0,60624.0,Biazar Group,1
63,60624.0,60624.0,Relux International,1
64,60625.0,60625.0,Ryan McKane,11
65,60625.0,60625.0,The Sheahan Group,4
66,60625.0,60625.0,Lowe Group Chicago,3
67,60626.0,60626.0,Ryan McKane,4
68,60626.0,60626.0,Alexandre Stoykov,2
69,60626.0,60626.0,Brad Lippitz Group,2
70,60628.0,60628.0,Relux International,2
71,60628.0,60628.0,Ben Lalez Team,1
72,60628.0,60628.0,Jason OBeirne,1
73,60629.0,60629.0,NL Ferrata Team,1
74,60630.0,60630.0,Keith Brand,2
75,60630.0,60630.0,Ben Lalez Team,1
76,60630.0,60630.0,Chicago Home Partners,1
77,60631.0,60631.0,Stacey Dombar,1
78,60632.0,60632.0,Ben Lalez Team,1
79,60632.0,60632.0,Busby Group,1
80,60634.0,60634.0,Relux International,2
81,60634.0,60634.0,Bari & Elena Team,1
82,60634.0,60634.0,Daniel Close,1
83,60636.0,60636.0,Kasper Group,1
84,60637.0,60637.0,Lawrence Dunning,4
85,60637.0,60637.0,Biazar Group,3
86,60637.0,60637.0,Ben Lalez Team,1
87,60638.0,60638.0,Alexandre Stoykov,1
88,60638.0,60638.0,The Laricy Team,1
89,60639.0,60639.0,Ben Lalez Team,1
90,60639.0,60639.0,Flora Blahnik Group,1
91,60639.0,60639.0,Keith Brand,1
92,60640.0,60640.0,Ryan McKane,10
93,60640.0,60640.0,MG Group Chicago,7
94,60640.0,60640.0,Relux International,6
95,60641.0,60641.0,MG Group Chicago,3
96,60641.0,60641.0,Chicago Home Partners,2
97,60641.0,60641.0,Ben Lalez Team,1
98,60642.0,60642.0,The Laricy Team,10
99,60642.0,60642.0,Biazar Group,6
100,60642.0,60642.0,Grigory Pekarsky,5
101,60643.0,60643.0,Biazar Group,2
102,60643.0,60643.0,Grigory Pekarsky,1
103,60643.0,60643.0,Kasper Group,1
104,60645.0,60645.0,Ryan McKane,5
105,60645.0,60645.0,Qamar Group,3
106,60645.0,60645.0,Grigory Pekarsky,2
107,60646.0,60646.0,Daniel Close,4
108,60646.0,60646.0,Ryan McKane,2
109,60646.0,60646.0,Grigory Pekarsky,1
110,60647.0,60647.0,Biazar Group,14
111,60647.0,60647.0,Keith Brand,11
112,60647.0,60647.0,Grigory Pekarsky,10
113,60649.0,60649.0,Ben Lalez Team,1
114,60649.0,60649.0,Jason OBeirne,1
115,60649.0,60649.0,Kasper Group,1
116,60651.0,60651.0,Grigory Pekarsky,2
117,60651.0,60651.0,Kasper Group,2
118,60651.0,60651.0,Bari & Elena Team,1
119,60652.0,60652.0,Qamar Group,1
120,60653.0,60653.0,Biazar Group,2
121,60653.0,60653.0,Grigory Pekarsky,2
122,60653.0,60653.0,Lawrence Dunning,2
123,60654.0,60654.0,The Laricy Team,18
124,60654.0,60654.0,Melissa Siegal Chicago Luxury Group,11
125,60654.0,60654.0,Bari & Elena Team,7
126,60656.0,60656.0,Bari & Elena Team,1
127,60656.0,60656.0,Ryan McKane,1
128,60656.0,60656.0,The Sheahan Group,1
129,60657.0,60657.0,Leigh Marcus Properties,18
130,60657.0,60657.0,Ryan McKane,15
131,60657.0,60657.0,The Laricy Team,12
132,60659.0,60659.0,Brad Lippitz Group,1
133,60659.0,60659.0,Leigh Marcus Properties,1
134,60659.0,60659.0,Relux International,1
135,60660.0,60660.0,Ryan McKane,6
136,60660.0,60660.0,Alexandre Stoykov,3
137,60660.0,60660.0,MG Group Chicago,3
138,60661.0,60661.0,The Laricy Team,3
139,60661.0,60661.0,Daniel Close,2
140,60661.0,60661.0,Keith Brand,2
141,60707.0,60707.0,Ben Lalez Team,1
142,60707.0,60707.0,Busby Group,1
143,60707.0,60707.0,Relux International,1