## Imports

In [75]:
import pandas as pd
import numpy as np
import datetime
import calendar

## PD Set options

In [2]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 500)

## Data Analysis

In [25]:
df = pd.read_csv('chicago_broker_rankings_august_2020_with_geo_points.csv',dtype='str')

In [26]:
df.dtypes

Unnamed: 0            object
MLS#                  object
Unique                object
Final Agent/Team      object
agent_type            object
TRD Notes             object
PROPERTY TYPE         object
ADDRESS               object
CITY                  object
STATE OR PROVINCE     object
ZIP OR POSTAL CODE    object
SOLD DATE             object
PRICE                 object
URL                   object
full_address          object
geo_address           object
loc                   object
point                 object
lat                   object
lon                   object
altitude              object
dtype: object

In [27]:
df['year'] = pd.DatetimeIndex(df['SOLD DATE']).year
df['month'] = pd.DatetimeIndex(df['SOLD DATE']).month

In [84]:
y = df.year.groupby(df['month']).count().sort_values(ascending=False)
y = y.to_frame()
y = y.reset_index()
y = y.rename(columns={'year':'Number of Sales'})
y.month = y.month.astype(int)
y

    month  Number of Sales
0       6              585
1       5              504
2       4              496
3       7              471
4       3              408
5       8              339
6       9              294
7      12              286
8      11              284
9      10              283
10      2              268
11      1              230

In [87]:
y['month'] = y['month'].apply(lambda x: calendar.month_name[x])

In [89]:
y.to_csv('chicago_sales_by_month.csv')

In [48]:
x = df['ZIP OR POSTAL CODE'].value_counts().to_frame()
x = x.reset_index()
x = x.rename(columns={'index':'Zip','ZIP OR POSTAL CODE':'Number of Sales'})
x.Zip = x.Zip.replace('\.0','',regex=True)
x.to_csv('chicago_sales_by_zip.csv')