## Imports

In [100]:
import pandas as pd
import numpy as np
import re
import os
import folium
import geopandas as gpd
import glob
from datetime import datetime, timedelta

## Data Read-in

In [121]:
csv_files = glob.glob('*.csv')

df_list = []

for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    df_list.append(df)
    
df = pd.concat(df_list,ignore_index=True)

print(len(df))

3599

In [122]:
gdf = gpd.read_file('countyboundary')

## Previous month's values

Get values from here:

https://docs.google.com/spreadsheets/d/1GWlqTIzCB29pDVDjd-iBVejVGGsLiAd0P6fq4LM83WI/edit?usp=sharing

In [123]:
print('Input County Name:')
county_name = input()

Input County Name:
Broward County

In [124]:
print('Input total condo units sold previous (not last) month:')
total_condos_sold_2nd_month = input()

Input total condo units sold previous (not last) month:
954

In [125]:
print('Input total sales volume ($$$ million) from previous (not last) month:')
sales_volume_2nd_month = input()

Input total sales volume ($$$ million) from previous (not last) month:
320000000

In [126]:
print('Input median sales price from previous (not last) month:')
median_sales_price_2nd_month = input()

Input median sales price from previous (not last) month:
240000

In [127]:
print('Input median psf from previous (not last) month:')
median_psf_2nd_month = input()

Input median psf from previous (not last) month:
239

## Data Clean

In [128]:
df = df.rename(columns={'URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)':'URL'})

In [129]:
df = df.dropna(subset=['SOLD DATE'])

In [130]:
# Get the current date
current_date = datetime.now()

# Calculate the first day of the current month
first_day_of_current_month = current_date.replace(day=1)

# Get the last day of the previous month by subtracting one day from the first day of the current month
last_day_of_previous_month = first_day_of_current_month - timedelta(days=1)

# Get the month name of the previous month
previous_month_name = last_day_of_previous_month.strftime("%B")

# ---- Get the name of the month, as a string, from two months ago.
# ---- Meaning, if the current month is January, return November.

# Get the first day of the previous month by subtracting one day from the first day of the current month
first_day_of_previous_month = first_day_of_current_month - timedelta(days=1)

# Get the first day of the month before the last by subtracting one day from the first day of the previous month
first_day_of_month_before_last = first_day_of_previous_month.replace(day=1) - timedelta(days=1)

# Get the month name of the month before the last
month_before_last_name = first_day_of_month_before_last.strftime("%B")

print(f'Report month: {previous_month_name} ---- Month before report month: {month_before_last_name}')

Report month: June ---- Month before report month: May

In [131]:
# Define list of desired months (excluding current month)
desired_months = [previous_month_name]

# Filter DataFrame to include only entries from desired months
df_filtered = df[df['SOLD DATE'].str.split('-', expand=True)[0].isin(desired_months)]

# Reset the index
df_filtered = df_filtered.reset_index(drop=True)

In [132]:
# Data checks
print(df_filtered['PRICE'].isna().value_counts())
print('-------')
print(df_filtered['$/SQUARE FEET'].isna().value_counts())
print('-------')
print(df_filtered['YEAR BUILT'].isna().value_counts())
print('-------')

PRICE
False    872
Name: count, dtype: int64
-------
$/SQUARE FEET
False    868
True       4
Name: count, dtype: int64
-------
YEAR BUILT
False    872
Name: count, dtype: int64
-------

In [133]:
sorted_df = df_filtered.sort_values(by='YEAR BUILT', ascending=False)
second_newest_building = sorted_df.iloc[2]
print(second_newest_building['URL'])

https://www.redfin.com/FL/Pompano-Beach/1116-N-Ocean-Blvd-33062/unit-501/home/187755764

In [134]:
df_filtered.loc[df_filtered['PRICE'] == '0']

Empty DataFrame
Columns: [SALE TYPE, SOLD DATE, PROPERTY TYPE, ADDRESS, CITY, STATE OR PROVINCE, ZIP OR POSTAL CODE, PRICE, BEDS, BATHS, LOCATION, SQUARE FEET, LOT SIZE, YEAR BUILT, DAYS ON MARKET, $/SQUARE FEET, HOA/MONTH, STATUS, NEXT OPEN HOUSE START TIME, NEXT OPEN HOUSE END TIME, URL, SOURCE, MLS#, FAVORITE, INTERESTED, LATITUDE, LONGITUDE]
Index: []

[0 rows x 27 columns]

In [135]:
df_filtered['PRICE'] = pd.to_numeric(df_filtered['PRICE'])
df_filtered['$/SQUARE FEET'] = pd.to_numeric(df_filtered['$/SQUARE FEET'])
df_filtered['YEAR BUILT'] = pd.to_numeric(df_filtered['YEAR BUILT'])
df_filtered['LATITUDE'] = pd.to_numeric(df_filtered['LATITUDE'])
df_filtered['LONGITUDE'] = pd.to_numeric(df_filtered['LONGITUDE'])

In [136]:
df_filtered = df_filtered.drop_duplicates().reset_index(drop=True)

In [137]:
df_filtered.sort_values(by='PRICE',ascending=True).head(20)

,SALE TYPE,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,...,STATUS,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,URL,SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE
118,PAST SALE,June-5-2024,Condo/Co-op,2820 N Oakland Forest Dr #304,Oakland Park,FL,33309.0,20600.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Oakland-Park/2820-N-...,MARMLS,A11531368,N,Y,26.171053,-80.181534
98,PAST SALE,June-4-2024,Condo/Co-op,2900 NW 48th Ter #209,Lauderdale Lakes,FL,33313.0,72000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Lauderdale-Lakes/290...,Beaches MLS,F10429432,N,Y,26.161321,-80.215114
108,PAST SALE,June-18-2024,Condo/Co-op,100 Tilford E #100,Deerfield Beach,FL,33442.0,72500.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Deerfield-Beach/100-...,Beaches MLS,F10430707,N,Y,26.316242,-80.151765
123,PAST SALE,June-13-2024,Condo/Co-op,9041 Sunrise Lakes Blvd #105,Sunrise,FL,33322.0,77000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Sunrise/9041-Sunrise...,Beaches MLS,F10423283,N,Y,26.163495,-80.272345
129,PAST SALE,June-6-2024,Condo/Co-op,1020 Country Club Dr #105,Margate,FL,33063.0,80000.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/Margate/1020-Country...,MARMLS,A11519383,N,Y,26.241501,-80.228570
106,PAST SALE,June-6-2024,Condo/Co-op,4047 NW 16th St #209,Lauderhill,FL,33313.0,81000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Lauderhill/4047-NW-1...,MARMLS,A11498694,N,Y,26.148451,-80.204469
116,PAST SALE,June-14-2024,Condo/Co-op,9021 Sunrise Lakes Blvd #107,Sunrise,FL,33322.0,83000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Sunrise/9021-Sunrise...,MARMLS,A11540879,N,Y,26.163982,-80.271708
120,PAST SALE,June-20-2024,Condo/Co-op,4751 NW 21st St #402,Lauderhill,FL,33313.0,84000.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/Lauderhill/4751-NW-2...,MARMLS,A11518506,N,Y,26.153221,-80.213813
88,PAST SALE,June-5-2024,Condo/Co-op,2501 NW 41 Ave #407,Lauderhill,FL,33311.0,85000.0,2.0,2.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Lauderhill/2501-NW-4...,Beaches MLS,F10430678,N,Y,26.157702,-80.204542
90,PAST SALE,June-26-2024,Condo/Co-op,1020 Country Club Dr #405,Margate,FL,33063.0,88000.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/Margate/1020-Country...,MARMLS,A11577734,N,Y,26.241501,-80.228570
140,PAST SALE,June-21-2024,Condo/Co-op,2050 NE 39th St Unit 307-E,Lighthouse Point,FL,33064.0,88700.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/Lighthouse-Point/205...,Beaches MLS,F10401420,N,Y,26.279105,-80.095465
133,PAST SALE,June-20-2024,Condo/Co-op,2501 W Golf Blvd #228,Pompano Beach,FL,33064.0,90000.0,2.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Pompano-Beach/2501-W...,Beaches MLS,F10419354,N,Y,26.261737,-80.129919
103,PAST SALE,June-14-2024,Condo/Co-op,600 NE 2nd St #109,Dania,FL,33004.0,90000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Dania/600-NE-2nd-St-...,Beaches MLS,F10426567,N,Y,26.055532,-80.134201
99,PAST SALE,June-6-2024,Condo/Co-op,257 Ventnor R,Deerfield Beach,FL,33442.0,90000.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/Deerfield-Beach/257-...,Beaches MLS,RX-10979054,N,Y,26.313730,-80.144887
142,PAST SALE,June-14-2024,Condo/Co-op,385 Tilford R #385,Deerfield Beach,FL,33442.0,91000.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/Deerfield-Beach/385-...,Beaches MLS,RX-10899513,N,Y,26.311021,-80.150841
126,PAST SALE,June-28-2024,Condo/Co-op,9081 Lime Bay Blvd #114,Tamarac,FL,33321.0,92500.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Tamarac/9081-Lime-Ba...,Beaches MLS,RX-10961181,N,Y,26.207899,-80.271936
139,PAST SALE,June-20-2024,Condo/Co-op,3541 Inverrary Dr #203,Lauderhill,FL,33319.0,93000.0,2.0,2.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Lauderhill/3541-Inve...,MARMLS,A11470346,N,Y,26.171400,-80.232693
101,PAST SALE,June-7-2024,Condo/Co-op,9041 Sunrise Lakes Blvd #205,Sunrise,FL,33322.0,94000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Sunrise/9041-Sunrise...,Beaches MLS,F10435145,N,Y,26.163495,-80.272345
115,PAST SALE,June-10-2024,Condo/Co-op,56 Westbury C #56,Deerfield Beach,FL,33442.0,95000.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/Deerfield-Beach/56-W...,MARMLS,A11519271,N,Y,26.317497,-80.132669
124,PAST SALE,June-20-2024,Condo/Co-op,1040 Country Club Dr #205,Margate,FL,33063.0,95000.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/Margate/1040-Country...,Beaches MLS,F10417389,N,Y,26.242965,-80.228376

In [138]:
print(df_filtered['URL'].iloc[98])

https://www.redfin.com/FL/Lauderdale-Lakes/2900-NW-48th-Ter-33313/unit-209/home/41599065

In [139]:
# Correct the prices, if needed
df_filtered.at[118,'PRICE']=(206_000)

# Correct the psf, if needed
df_filtered.at[118,'$/SQUARE FEET']=(206_000/804)

In [61]:
### If needed, drop the row with the lowest price
# min_value_index = df_filtered['PRICE'].idxmin()
# df_filtered = df_filtered.drop(min_value_index)

In [24]:
# print(df_filtered['URL'].iloc[528])

In [140]:
# Find problem psf by searching for low values
df_filtered.sort_values(by='$/SQUARE FEET',ascending=True).head(20)[['PRICE','ADDRESS','CITY','$/SQUARE FEET']]

        PRICE                        ADDRESS              CITY  $/SQUARE FEET
88    85000.0            2501 NW 41 Ave #407        Lauderhill           87.0
120   84000.0           4751 NW 21st St #402        Lauderhill           91.0
128  108000.0           6080 NW 44th St #206        Lauderhill           99.0
98    72000.0          2900 NW 48th Ter #209  Lauderdale Lakes          102.0
122  110500.0           5570 NW 44th St #510        Lauderhill          102.0
129   80000.0      1020 Country Club Dr #105           Margate          103.0
139   93000.0         3541 Inverrary Dr #203        Lauderhill          103.0
106   81000.0           4047 NW 16th St #209        Lauderhill          107.0
144  109000.0           132 E Laurel Dr #902           Margate          107.0
112  100000.0  3774 Inverrary Blvd Unit 308P        Lauderhill          111.0
788  138000.0           6701 Cypress Rd #308        Plantation          111.0
90    88000.0      1020 Country Club Dr #405           Margate          114.0
135  117000.0     2801 NW 47th Ter Unit 201a  Lauderdale Lakes          115.0
93    99990.0       6001 N Falls Cir Dr #306        Lauderhill          115.0
609  140900.0           4848 NW 24th Ct #203  Lauderdale Lakes          115.0
309  169000.0     3750 NW 115th Way Unit 5-1     Coral Springs          117.0
793  129900.0  3776 Inverrary Blvd Unit 410R        Lauderhill          121.0
806  125000.0   9481 Sunrise Lakes Blvd #204           Sunrise          121.0
96   115000.0        9150 Lime Bay Blvd #304           Tamarac          121.0
590  145000.0    7011 Environ Blvd Unit 112A        Lauderhill          122.0

In [63]:
# # Drop sales that aren't condos but labeled as such
# df_filtered = df_filtered.drop(1320)

## Make Maps

In [141]:
### Create a price column formatted as currency ###
df_filtered['PRICE_AS_CURRENCY'] = df_filtered['PRICE'].apply(lambda x: "${:,.0f}".format(x))
### Set formatting for Beds, Baths ###
df_filtered['YEAR BUILT DISPLAY'] = df_filtered['YEAR BUILT'].apply(lambda x: '{:.0f}'.format(x))
df_filtered['PRICE_SQUARE_FEET_AS_CURRENCY'] = df_filtered['$/SQUARE FEET'].apply(lambda x: '${:,.0f}'.format(x))

In [142]:
df_filtered = df_filtered.sort_values(by=['PRICE'], ascending=False)
### Insert different colors for top 10 sales vs. the rest ###
df_filtered['COLOR'] = ''
### Create RANK column ###
df_filtered['RANK'] = 0
### Insert RANK values ###
df_filtered['RANK'] = range(1, len(df_filtered) + 1)
# use numpy to assign values to the 'COLOR' column
df_filtered['COLOR'] = np.where(df_filtered['RANK'] <= 10, 'orange', 'blue')

## HTML Popup Formatter

In [143]:
### Define list of columns to drop from DF ###
columns_drop = ['SALE TYPE','PROPERTY TYPE','STATE OR PROVINCE','ZIP OR POSTAL CODE','HOA/MONTH','STATUS','NEXT OPEN HOUSE START TIME','NEXT OPEN HOUSE END TIME','SOURCE','MLS#','FAVORITE','INTERESTED','SQUARE FEET','LOT SIZE']

In [144]:
### Drop the columns ###
df_filtered = df_filtered.drop(columns=columns_drop)

In [145]:
def popup_html(row):
    Price = row['PRICE_AS_CURRENCY']
    Address = row['ADDRESS']
    City = row['CITY']
    sold_date = row['SOLD DATE']
    beds = row['BEDS']
    baths = row['BATHS']
    psf = row['PRICE_SQUARE_FEET_AS_CURRENCY']
    year_built = row['YEAR BUILT DISPLAY']
    rank = row['RANK']
    
    html = '''<!DOCTYPE html>
    <html>
    <strong>Price: </strong>{}'''.format(Price) + '''<br>
    <strong>Address: </strong>{}'''.format(Address) + '''<br>
    <strong>City: </strong>{}'''.format(City) + '''<br>
    <strong>Sold: </strong>{}'''.format(sold_date) + '''<br>
    <strong>Beds: </strong>{}'''.format(beds) + '''<br>
    <strong>Baths: </strong>{}'''.format(baths) + '''<br>
    <strong>Price per sf: </strong>{}'''.format(psf) + '''<br>
    <strong>Year Built: </strong>{}'''.format(year_built) + '''<br>
    <strong>Price Rank: </strong>{}'''.format(rank) + '''
    </html>
    '''
    return html

In [146]:
### Create map container ###
m = folium.Map(location=df_filtered[["LATITUDE", "LONGITUDE"]].mean().to_list(),zoom_start=10,tiles=None)

### Create title ###
title_html = '''
              <h3 align="center" style="font-size:16px"><b>{}</b></h3>
             '''.format(f"{previous_month_name} 2024 Condo Sales")

m.get_root().html.add_child(folium.Element(title_html))

# Create two FeatureGroups for different color pins
fg_blue = folium.FeatureGroup(name='All other sales')
fg_orange = folium.FeatureGroup(name='Top 10 Sales')

folium.GeoJson(gdf,tooltip=f'{county_name}',name=f'{county_name}').add_to(m)

for index, row in df_filtered.iterrows():
    # Add the markers to the appropriate FeatureGroup based on the color
    if row['COLOR'] == 'blue':
        marker = folium.Marker(
            location=[row['LATITUDE'], row['LONGITUDE']],
            radius=5,
            fill=True,
            icon=folium.Icon(color=row['COLOR']),
            popup=folium.Popup(popup_html(row), max_width=400))
        marker.add_to(fg_blue)
    else:
        marker = folium.Marker(
            location=[row['LATITUDE'], row['LONGITUDE']],
            radius=5,
            fill=True,
            icon=folium.Icon(color=row['COLOR']),
            popup=folium.Popup(popup_html(row), max_width=400))
        marker.add_to(fg_orange)

# Add the FeatureGroups to the map
fg_orange.add_to(m)
fg_blue.add_to(m)

folium.TileLayer('OpenStreetMap',control=False).add_to(m)

# Add LayerControl to the map
folium.map.LayerControl(collapsed=False).add_to(m)

# Display map
# m

In [147]:
m.save('index.html')

## Summary Info

In [148]:
BR = '\n'

ME = '\033[1m' + 'Most Expensive' + '\033[0m'
LE = '\033[1m' + 'Least Expensive' + '\033[0m'

MAX_PSF = '\033[1m' + 'Highest Price Per Square Foot' + '\033[0m'
MIN_PSF = '\033[1m' + 'Lowest Price Per Square Foot' + '\033[0m'

Newest = '\033[1m' + 'Newest' + '\033[0m'
Oldest = '\033[1m' + 'Oldest' + '\033[0m'

In [149]:
df_filtered.columns

Index(['SOLD DATE', 'ADDRESS', 'CITY', 'PRICE', 'BEDS', 'BATHS', 'LOCATION',
       'YEAR BUILT', 'DAYS ON MARKET', '$/SQUARE FEET', 'URL', 'LATITUDE',
       'LONGITUDE', 'PRICE_AS_CURRENCY', 'YEAR BUILT DISPLAY',
       'PRICE_SQUARE_FEET_AS_CURRENCY', 'COLOR', 'RANK'],
      dtype='object')

In [150]:
df_filtered['FULL_ADDRESS'] = df_filtered['ADDRESS'] + ' ' + df_filtered['CITY']

In [151]:
print(df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['URL'])

https://www.redfin.com/FL/Hollywood/1908-N-Ocean-Dr-33019/unit-15C/home/42011211

In [152]:
print(f"{ME}{BR}{df_filtered.loc[df_filtered['PRICE'].idxmax()]['LOCATION']}, {df_filtered.loc[df_filtered['PRICE'].idxmax()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['PRICE'].idxmax()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['PRICE'].idxmax()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['PRICE'].idxmax()]['YEAR BUILT']:.0f}")
print(f"{LE}{BR}{df_filtered.loc[df_filtered['PRICE'].idxmin()]['LOCATION']}, {df_filtered.loc[df_filtered['PRICE'].idxmin()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['PRICE'].idxmin()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['PRICE'].idxmin()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['PRICE'].idxmin()]['YEAR BUILT']:.0f}")

print(f"{MAX_PSF}{BR}{df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['LOCATION']}, {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['YEAR BUILT']:.0f}")
print(f"{MIN_PSF}{BR}{df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['LOCATION']}, {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['YEAR BUILT']:.0f}")

print(f"{Newest}{BR}{df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['LOCATION']}, {df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['YEAR BUILT']:.0f}")
print(f"{Oldest}{BR}{df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['LOCATION']}, {df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['YEAR BUILT']:.0f}")

Most Expensive
Las Olas Beach Club, 101 S Fort Lauderdale Beach Blvd #2501 Fort Lauderdale | Price $4,600,000 | $1,065 psf | Year built: 2007
Least Expensive
Cypress Chase, 2900 NW 48th Ter #209 Lauderdale Lakes | Price $72,000 | $102 psf | Year built: 1973
Highest Price Per Square Foot
SUBURBANITE CONDOMINIUM, 3701 Tyler St #102 Hollywood | Price $1,450,000 | $1,663 psf | Year built: 1961
Lowest Price Per Square Foot
Cypress Tree #6 Cond, 2501 NW 41 Ave #407 Lauderhill | Price $85,000 | $87 psf | Year built: 1975
Newest
Solemar, 1116 N Ocean Blvd #501 Pompano Beach | Price $2,700,000 | $1,112 psf | Year built: 2023
Oldest
WATERWAYS CONDO, 1908 N Ocean Dr Unit 15 C Hollywood | Price $399,000 | $nan psf | Year built: 1941

## Map URL Snagger

In [153]:
base_name = 'https://trd-digital.github.io/trd-news-interactive-maps/'

cwd = os.getcwd()

cwd = cwd.split('/')

final_name = base_name + cwd[-1]
print(final_name)

https://trd-digital.github.io/trd-news-interactive-maps/BC_condo_sales_month_ending_june_2024

## Get Summary Data

In [166]:
print('SALES INFO')
print(f'Number of sales: {len(df_filtered)}')
print('--------')
print(f'Total sale price: ${df_filtered["PRICE"].sum():,.0f}')
print('--------')
print(f'Median sale price: ${df_filtered["PRICE"].median():,.0f}')
print('--------')
print(f'Max sale price: ${df_filtered["PRICE"].max():,.0f}')
print('--------')
print(f'Min sale price: ${df_filtered["PRICE"].min():,.0f}')
print('------------------------------------------------')
print('PSF INFO')
print(f'Max price per square foot: ${df_filtered["$/SQUARE FEET"].max():,.0f}')
print('--------')
print(f'Min price per square foot: ${df_filtered["$/SQUARE FEET"].min():,.0f}')
print('--------')
print(f'Median price per square foot: ${df_filtered["$/SQUARE FEET"].median():,.0f}')
print('------------------------------------------------')
print('CONDO AGES')
print(f'Newest building: {df_filtered["YEAR BUILT"].max()}')
print('----------')
print(f'Oldest building: {df_filtered["YEAR BUILT"].min()}')
print('----------')
print(f'Average building age: {df_filtered["YEAR BUILT"].mean()}')

SALES INFO
Number of sales: 808
--------
Total sale price: $285,180,292
--------
Median sale price: $240,000
--------
Max sale price: $4,600,000
--------
Min sale price: $72,000
------------------------------------------------
PSF INFO
Max price per square foot: $1,663
--------
Min price per square foot: $87
--------
Median price per square foot: $242
------------------------------------------------
CONDO AGES
Newest building: 2023.0
----------
Oldest building: 1941.0
----------
Average building age: 1980.1423267326732

In [155]:
most_expensive_muni_condo_name = df_filtered.loc[df_filtered['PRICE'].idxmax()]['LOCATION']
most_expensive_muni_location = df_filtered.loc[df_filtered['PRICE'].idxmax()]['CITY']

least_expensive_muni_condo_name = df_filtered.loc[df_filtered['PRICE'].idxmin()]['LOCATION']
least_expensive_muni_location = df_filtered.loc[df_filtered['PRICE'].idxmin()]['CITY']

# GENERATE STORY TEMPLATE

# STOP! DID YOU UPDATE VALUES FROM THE PREVIOUS MONTH?

In [156]:
## Calculate the increase/descrease between both months
subject_month_sales_volume = df_filtered["PRICE"].sum()
prior_month_sales_volume = int(sales_volume_2nd_month)  # Example value, replace with actual value

subject_month_closings = len(df_filtered)
prior_month_closings = int(total_condos_sold_2nd_month)

# Subtract the smaller value from the larger one
if subject_month_sales_volume > prior_month_sales_volume:
    hed_rf = 'jumps'
    nut_graf = 'rising'
    second_nut_graf_ref = 'up'
    social = 'higher'
    seo = 'rose'
elif prior_month_sales_volume > subject_month_sales_volume:
    hed_rf = 'drops'
    nut_graf = 'falling'
    second_nut_graf_ref = 'down'
    social = 'lower'
    seo = 'dropped'
else:
    hed_rf = 'equals'
    nut_graf = 'equaling'
    second_nut_graf_ref = 'on par with'
    social = 'equal'
    seo = "didn't change"
    
    
if subject_month_closings > prior_month_closings:
    dek_rf = 'rose'
elif prior_month_closings > subject_month_closings:
    dek_rf ='fell'
else:
    dek_rf = 'equaled'

In [157]:
story_string = f'''
\033[1mHED:\033[0m {county_name} condo sales dollar volume {hed_rf} in {previous_month_name} to ${round(df_filtered["PRICE"].sum()/1_000_000)}M 
\033[1mDEK:\033[0m Number of closings {dek_rf} to {len(df_filtered)} from {total_condos_sold_2nd_month} in {month_before_last_name}
\033[1mFEATURED HED:\033[0m
\033[1mSEO HED:\033[0m {county_name} {previous_month_name} Condo Sales Report 
\033[1mSEO DESCRIPTION:\033[0m {county_name}â€™s condo sales volume {seo} to ${round(df_filtered["PRICE"].sum()/1_000_000)} million in {previous_month_name}
\033[1mAUTHOR:\033[0m Adam Farence
\033[1mRESEARCH:\033[0m 
\033[1mSocial:\033[0m {county_name} had ${round(df_filtered["PRICE"].sum()/1_000_000):,.0f} million in condo sales in {previous_month_name}, {social} than ${round(int(sales_volume_2nd_month)/1_000_000)} million from {month_before_last_name}, @afarence reports 
\033[1mART:\033[0m 

CHANGE ME

*Please provide credits for any images that you share
\033[1mSTORY TYPE:\033[0m Report
\033[1mSECTOR\033[0m (formerly CATEGORY): Residential Real Estate
\033[1mTAGS:\033[0m condo sales, {county_name}, monthly condo sales, condos, condo market, {most_expensive_muni_condo_name.title()}, {most_expensive_muni_location}

\033[1mNeighborhood:\033[0m 
\033[1mProperty:\033[0m
\033[1mProperty Type:\033[0m
\033[1mCompanies:\033[0m 
\033[1mPeople:\033[0m
\033[1mIssues:\033[0m
\033[1mRegion:\033[0m

{county_name}â€™s NEWS PEG HERE.

{previous_month_name} condo sales totaled ${df_filtered["PRICE"].sum()} million, {nut_graf} from ${int(sales_volume_2nd_month)/1_000_000:.0f} million in {month_before_last_name}. Brokers closed {len(df_filtered)} sales last month, {second_nut_graf_ref} from {total_condos_sold_2nd_month} sales in {month_before_last_name} and XXX in XXX, Multiple Listing Service data from Redfin show.

{previous_month_name} sale prices ranged from ${df_filtered["PRICE"].min():,.2f} to ${df_filtered["PRICE"].max():,.0f} million, with a median sale price of ${df_filtered["PRICE"].median():,.0f}. The price per square foot ranged from ${df_filtered["$/SQUARE FEET"].min():,.0f} to ${df_filtered["$/SQUARE FEET"].max():,.0f}, with a median of ${df_filtered["$/SQUARE FEET"].median():,.0f} per square foot.

In {month_before_last_name}, sales closed with a median price of ${int(median_sales_price_2nd_month):,.0f}, and ${median_psf_2nd_month} per square foot.

A ${df_filtered["PRICE"].max():,.0f} million closing at {most_expensive_muni_condo_name.title()} took the title of priciest sale last month. {df_filtered.loc[df_filtered['PRICE'].idxmax()]['FULL_ADDRESS']} sold for ${df_filtered.loc[df_filtered['PRICE'].idxmax()]['$/SQUARE FEET']:,.0f} per square foot after XX days on the market. XXX with XXX had the listing, and XXX with XXX represented the buyer.

The sale price was \033[1mmore/less\033[0m than {month_before_last_name}'s priciest sale. Unit XXXX 

In contrast, {previous_month_name}'s cheapest sale was an {least_expensive_muni_condo_name} in {least_expensive_muni_location}, at {df_filtered.loc[df_filtered['PRICE'].idxmin()]['FULL_ADDRESS']}. Unit XXX traded for ${df_filtered['PRICE'].min():,.0f} â€” or ${df_filtered.loc[df_filtered['PRICE'].idxmin()]['$/SQUARE FEET']:,.0f} per square foot â€” after XXX days on the market. XXX with XXX handled both sides of the deal.

<figure>
 <div class="container">
   <div class="iframe-wrap">
   <iframe src="{final_name}" width="100%" height="800" frameBorder="0" scrolling="no"></iframe>
  </div>
</div>
  <figcaption align="right"><a href="https://leafletjs.com/">Leaflet</a> map created by Adam Farence | Data by Â© <a href="https://www.openstreetmap.org/#map=4/38.01/-95.84"> OpenStreetMap</a>, under <a href="https://www.openstreetmap.org/copyright">ODbl.</a></figcaption>
</figure>

Hereâ€™s a breakdown of {previous_month_name}â€™s notable condo sales:
'''

In [158]:
print(story_string)

print(f"{ME}{BR}{df_filtered.loc[df_filtered['PRICE'].idxmax()]['LOCATION']}, {df_filtered.loc[df_filtered['PRICE'].idxmax()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['PRICE'].idxmax()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['PRICE'].idxmax()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['PRICE'].idxmax()]['YEAR BUILT']:.0f}")
print(f"{LE}{BR}{df_filtered.loc[df_filtered['PRICE'].idxmin()]['LOCATION']}, {df_filtered.loc[df_filtered['PRICE'].idxmin()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['PRICE'].idxmin()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['PRICE'].idxmin()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['PRICE'].idxmin()]['YEAR BUILT']:.0f}")

print(f"{MAX_PSF}{BR}{df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['LOCATION']}, {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['YEAR BUILT']:.0f}")
print(f"{MIN_PSF}{BR}{df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['LOCATION']}, {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['YEAR BUILT']:.0f}")

print(f"{Newest}{BR}{df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['LOCATION']}, {df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['YEAR BUILT']:.0f}")
print(f"{Oldest}{BR}{df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['LOCATION']}, {df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['YEAR BUILT']:.0f}")

HED: Broward County condo sales dollar volume drops in June to $285M
DEK: Number of closings fell to 808 from 954 in May
FEATURED HED:
SEO HED: Broward County June Condo Sales Report
SEO DESCRIPTION: Broward Countyâ€™s condo sales volume dropped to $285 million in June
AUTHOR: Adam Farence
RESEARCH:
Social: Broward County had $285 million in condo sales in June, lower than $320 million from May, @afarence reports
ART:

CHANGE ME

*Please provide credits for any images that you share
STORY TYPE: Report
SECTOR (formerly CATEGORY): Residential Real Estate
TAGS: condo sales, Broward County, monthly condo sales, condos, condo market, Las Olas Beach Club, Fort Lauderdale

Neighborhood:
Property:
Property Type:
Companies:
People:
Issues:
Region:

Broward Countyâ€™s NEWS PEG HERE.

June condo sales totaled $285180292.0 million, falling from $320 million in May. Brokers closed 808 sales last month, down from 954 sales in May and XXX in XXX, Multiple Listing Service data from Redfin show.

June sale prices ranged from $72,000.00 to $4,600,000 million, with a median sale price of $240,000. The price per square foot ranged from $87 to $1,663, with a median of $242 per square foot.

In May, sales closed with a median price of $240,000, and $239 per square foot.

A $4,600,000 million closing at Las Olas Beach Club took the title of priciest sale last month. 101 S Fort Lauderdale Beach Blvd #2501 Fort Lauderdale sold for $1,065 per square foot after XX days on the market. XXX with XXX had the listing, and XXX with XXX represented the buyer.

The sale price was more/less than May's priciest sale. Unit XXXX

In contrast, June's cheapest sale was an Cypress Chase in Lauderdale Lakes, at 2900 NW 48th Ter #209 Lauderdale Lakes. Unit XXX traded for $72,000 â€” or $102 per square foot â€” after XXX days on the market. XXX with XXX handled both sides of the deal.

<figure>
 <div class="container">
   <div class="iframe-wrap">
   <iframe src="https://trd-digital.github.io/trd-news-interactive-maps/BC_condo_sales_month_ending_june_2024" width="100%" height="800" frameBorder="0" scrolling="no"></iframe>
  </div>
</div>
  <figcaption align="right"><a href="https://leafletjs.com/">Leaflet</a> map created by Adam Farence | Data by Â© <a href="https://www.openstreetmap.org/#map=4/38.01/-95.84"> OpenStreetMap</a>, under <a href="https://www.openstreetmap.org/copyright">ODbl.</a></figcaption>
</figure>

Hereâ€™s a breakdown of Juneâ€™s notable condo sales:

Most Expensive
Las Olas Beach Club, 101 S Fort Lauderdale Beach Blvd #2501 Fort Lauderdale | Price $4,600,000 | $1,065 psf | Year built: 2007
Least Expensive
Cypress Chase, 2900 NW 48th Ter #209 Lauderdale Lakes | Price $72,000 | $102 psf | Year built: 1973
Highest Price Per Square Foot
SUBURBANITE CONDOMINIUM, 3701 Tyler St #102 Hollywood | Price $1,450,000 | $1,663 psf | Year built: 1961
Lowest Price Per Square Foot
Cypress Tree #6 Cond, 2501 NW 41 Ave #407 Lauderhill | Price $85,000 | $87 psf | Year built: 1975
Newest
Solemar, 1116 N Ocean Blvd #501 Pompano Beach | Price $2,700,000 | $1,112 psf | Year built: 2023
Oldest
WATERWAYS CONDO, 1908 N Ocean Dr Unit 15 C Hollywood | Price $399,000 | $nan psf | Year built: 1941

# Print links for notable sales

## Top sale

In [52]:
print(df_filtered.loc[df_filtered['PRICE'].idxmax()]['URL'])

https://www.redfin.com/FL/Fort-Lauderdale/101-S-Fort-Lauderdale-Beach-Blvd-33316/unit-2501/home/42067741

## Cheapest sale

In [159]:
print(df_filtered.loc[df_filtered['PRICE'].idxmin()]['URL'])

https://www.redfin.com/FL/Lauderdale-Lakes/2900-NW-48th-Ter-33313/unit-209/home/41599065

## Highest PSF

In [161]:
print(df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['URL'])

https://www.redfin.com/FL/Hollywood/3701-Tyler-St-33021/unit-102/home/41921434

## Lowest PSF

In [162]:
print(df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['URL'])

https://www.redfin.com/FL/Lauderhill/2501-NW-41st-Ave-33313/unit-407/home/41598087

## Newest

In [163]:
print(df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['URL'])

https://www.redfin.com/FL/Pompano-Beach/1116-N-Ocean-Blvd-33062/unit-501/home/187755764

## Oldest

In [165]:
print(df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['URL'])

https://www.redfin.com/FL/Hollywood/1908-N-Ocean-Dr-33019/unit-15C/home/42011211

## Time on Market Calculator

In [160]:
from datetime import datetime, timedelta

################ YEAR, MONTH, DAY #######################

date1 = datetime(2024, 3, 16) ## List (Earlier) date
date2 = datetime(2024, 5, 5) ## Close (Later) date

delta = date2 - date1
num_days = delta.days

print(num_days)

50

## Access second highest (or whatever is needed)

In [58]:
# ### Second highest ###
# # Sort the DataFrame by '$/SQUARE FEET' in descending order
# second_highest = df_filtered.sort_values(by='$/SQUARE FEET', ascending=False)

# # Get the URL of the entry with the second highest '$/SQUARE FEET' value
# second_highest_url = second_highest.iloc[1]['URL']  # `.iloc[1]` accesses the second row

# print(second_highest_url)